#header{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	height:150px;
	background-image:url('../img/pics/header.png');
	border-bottom:1px solid #ccc;
}

#link{
	background-image:url('../img/pics/text.png');
	background-position:0px 0px;
	background-repeat:no-repeat;
	width:605px;
	margin-top:37px;
	margin-left:125px;
	height:75px;
	font-size:0px;
}

#link:hover{
	background-position:0px -70px;
}

#toolbar{
	position:absolute;
	top:150px;
	bottom:0px;
	left:0px;
	width:250px;
	background-color:#333;
}

#toolbar button{
	width:230px;
	margin:10px 0px 10px 10px;
}

#map{
	position:absolute;
	top:150px;
	bottom:0px;
	left:250px;
	right:0px;
}